.button-add-card
{
    background-image: url('../../assets/icons/add-to-cart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
    width: 28px;
    height: 28px;       
    display: block;
}

