@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color Palette */
  --black: #000000;
  --white: #FFFFFF;
  --very_light_pink: #C7C7C7;   
  --text_input_field: #F7F7F7;    
  --hospital_green: #ACD9B2;
  --dark: #232830;
  --grey:#797979;
  --white-secondary: #fcfcfc;
  
  /* Font Sizes */
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
